//created variables for text color, background image, padding,and text decoration.
$imagePath: './images/library-background.jpg';
$textColor1: rgb(105, 146, 170);
$textColor2: rgb(236, 186, 120);
$textColor3: white;
$padding15: 15px;
$padding10: 10px;
$text-decoration: underline;