@import "./partials/mixin";
@import "./partials/variables";

/*used different SCSS functionalities for styling all the elements*/
body {
    background-image: url($imagePath);
    background-size: cover;
    background-position: center;
    
}
#top, .intro {
    @include flexCenterTop;
}
/* the main header text is in a different color and has a shadow effect*/
h1 {
    color: $textColor1;
    text-shadow: 5px 5px 10px blue;
    font-size: 5vw;
}

.book-title{
    text-decoration: $text-decoration;
    color: $textColor2;
    padding: $padding15;
}
h2, h3{
    color: $textColor2;
    padding: $padding10;

}
p{
    color: $textColor3;
    padding: $padding10;
}
.red-sky, .housemaid, .swan-song, .winter-lost, .women {
    @include flexCenter;  
}

#red-sky-summary, #housemaid-summary, #swan-song-summary, #winter-lost-summary, #women-summary, #red-sky-author, #housemaid-author, #swan-song-author, #winter-lost-author, #women-author {
    @include flexCenterSummaries;
}

a {
    color: hotpink;
    padding: 20px;

}

.footer {
    @include flexCenterButtons;
}
